:root{
    --google-btn-rengi:#1a73e8;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14px;
    margin-right: 30px;
}
nav a{
    font-size: 13px;
    color: rgba(0,0,0, 0.85);
    padding: 6px 7px;
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    opacity: .85;
}
nav img{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}
nav img:hover{
    opacity: .8;
}
nav button{
  background-color: var(--google-btn-rengi);
  color: aliceblue;
  border: 1px solid var(--google-btn-rengi);
  padding: 7px 12px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
}
