:root{
    --google-btn-rengi:#1a73e8;
    --color:aliceblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 14px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14px;
    margin-right: 30px;
}
nav a{
    font-size: 13px;
    color: rgba(0,0,0, 0.85);
    padding: 6px 7px;
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    opacity: .85;
}
nav img{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}
nav img:hover{
    opacity: .8;
}
nav button{
  background-color: var(--google-btn-rengi);
  color: var(aliceblue);
  border: 1px solid var(--google-btn-rengi);
  padding: 7px 12px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
}
.section-1{
    flex: 1;
}
.section-1 .logo{
    margin: 0 auto;
    display: block;
    margin-top: 107px;
}
.s-box{
   
    width: 580px;
    margin: 0 auto;
    position: relative;
    margin-top: 25px;
    text-align: center;
}

/*search icon*/

.s-box .search-icon{
    width: 20px;
    position: absolute;
    top: 13px;
    left: 15px;
    opacity: .4;


}
.s-box .vs-icon{
    width: 14px;
    position: absolute;
    top: 13px;
    right: 24px;
   
}
.s-box .s-input{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    border: 1px solid#ddd;
    outline: none;
}
.s-box .s-input:hover{
    box-shadow:0px 1px 3px rgb(192,185,185);
}
.s-btn{
    border: 1px solid transparent;
    padding: 9px 15px;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
    margin-top: 28px;
    cursor: pointer;
}
.lang{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.lang a{
    color: #1a0dab;
    text-decoration: none;
}

footer {
  background-color: #f2f2f2;
 
}
footer h4{
    opacity: .50;
    font-size: 20px;
    line-height: 39px;
    padding: 15px 30px;
}
footer a{
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0, 0.85);
    padding: 12px 11px;
    transition: all .8s ease-in;
}
footer a:hover{
    transform: translateY(12px);
    text-decoration: underline;
}
.links{
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    opacity: .50;
}


.link-1 {
    display: flex;
    justify-content: center;
    padding: 20px 14px;

}
.link-2{
    display: flex;
    justify-content: center;
    padding: 20px 14px;

}